<header>
    <nav>
        <ul>
            <li><a href="http://localhost:5001">HOME</a></li>
            <li><a href="http://localhost:5001/about">ABOUT</a></li>
            <li><a href="http://localhost:5001/dashboard">Dashboard</a></li>
        </ul>
    </nav>
</header>